In [29]:
import pandas as pd
import numpy as np

In [30]:
data = {
    "Energy Source": ["Solar", "Wind", "Hydropower", "Geothermal", "Biomass", "Nuclear"],
    "Energy Consumption (MWh)": [1200, np.nan, 2900, np.nan, 2500, 3200],
    "Cost (Million $)": [200, 400, np.nan, 150, 250, np.nan]
}

In [31]:
energy_df = pd.DataFrame(data)

print("Original Energyu Data With Missing Values:")
energy_df.head()

Original Energyu Data With Missing Values:

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                       NaN             400.0
2    Hydropower                    2900.0               NaN
3    Geothermal                       NaN             150.0
4       Biomass                    2500.0             250.0

In [32]:
energy_df.tail()

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
1          Wind                       NaN             400.0
2    Hydropower                    2900.0               NaN
3    Geothermal                       NaN             150.0
4       Biomass                    2500.0             250.0
5       Nuclear                    3200.0               NaN

In [33]:
energy_df.info()
energy_df.describe()
energy_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Energy Source             6 non-null      object
 1   Energy Consumption (MWh)  4 non-null      float64
 2   Cost (Million $)          4 non-null      float64
dtypes: float64(2), object(1)
memory usage: 276.0+ bytes

(6, 3)

In [34]:
# Handling Missing Values
cleaned_energy_df = energy_df.dropna(axis=0)  
cleaned_energy_df.head()

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
4       Biomass                    2500.0             250.0

In [35]:
ec_m = energy_df['Energy Consumption (MWh)'].mean()
ec_c = energy_df['Cost (Million $)'].mean()
print("\nMean Energy Consumption (MWh):", ec_m)
print("Mean Cost (Million $):", ec_c)

Mean Energy Consumption (MWh): 2450.0
Mean Cost (Million $): 250.0

In [36]:
# energy_df["Energy Consumption (MWh)"].fillna(ec_m, inplace=True)
# energy_df["Cost (Million $)"].fillna(ec_c, inplace=True)

# energy_df.head()
energy_df.head()

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                       NaN             400.0
2    Hydropower                    2900.0               NaN
3    Geothermal                       NaN             150.0
4       Biomass                    2500.0             250.0

In [37]:

energy_df.fillna(method='ffill', inplace=True)
energy_df.head()

C:\Users\jadha\AppData\Local\Temp\ipykernel_9384\3493214803.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  energy_df.fillna(method='ffill', inplace=True)

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                    1200.0             400.0
2    Hydropower                    2900.0             400.0
3    Geothermal                    2900.0             150.0
4       Biomass                    2500.0             250.0

In [38]:
energy_df.fillna(method='bfill', inplace=True)
energy_df.head()

C:\Users\jadha\AppData\Local\Temp\ipykernel_9384\145851893.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  energy_df.fillna(method='bfill', inplace=True)

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                    1200.0             400.0
2    Hydropower                    2900.0             400.0
3    Geothermal                    2900.0             150.0
4       Biomass                    2500.0             250.0

In [40]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

energy_df[['Energy Consumption (MWh)', 'Cost (Million $)']] = (
    scaler.fit_transform(
        energy_df[['Energy Consumption (MWh)', 'Cost (Million $)']]
    )
)

energy_df.head()

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                      0.00               0.2
1          Wind                      0.00               1.0
2    Hydropower                      0.85               1.0
3    Geothermal                      0.85               0.0
4       Biomass                      0.65               0.4

In [42]:
energy_encoded_df = pd.get_dummies(energy_df, columns=['Energy Source'])
energy_encoded_df

,Energy Consumption (MWh),Cost (Million $),Energy Source_Biomass,Energy Source_Geothermal,Energy Source_Hydropower,Energy Source_Nuclear,Energy Source_Solar,Energy Source_Wind
0,0.00,0.2,False,False,False,False,True,False
1,0.00,1.0,False,False,False,False,False,True
2,0.85,1.0,False,False,True,False,False,False
3,0.85,0.0,False,True,False,False,False,False
4,0.65,0.4,True,False,False,False,False,False
5,1.00,0.4,False,False,False,True,False,False